.navbar {
  padding: 1rem;
  background-color: mistyrose !important;
}

.bg-secondary {
  padding: 1rem !important;
  background-color: mistyrose !important;
}

.btn-primary:hover {
  background-color: #A3DDCF;
}
